# 빌드 결과물
build/
dist/
.next/
out/

# 의존성
node_modules/

# 로그 파일
*.log

# 환경 설정
.env*

# 특정 파일
package-lock.json
yarn.lock

# 자동 생성 파일
*.min.js
*.min.css

# .github
.github/

# 정적 파일
public/
assets/

# 임시 파일
*.tmp
*.temp